body {
    margin: 0 auto;
    background-color: #1e4d25;;
    }


    h1 {
        color: white;
    }

    p {
        color: white;
    }

    .wrapper {
        padding: 0 15%;
    }

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand.fw-bold {
    color: white;
    }

  .navbar-brand.fw-bold:hover {
    color: #29fd2e;
    }

  .nav-link {
    color: white;
    font-family: 'Helvetica-65-Mid';
  }

  .nav-link:hover {
    color: #29fd2e;
  }

  .nav-item {
    padding: 0px 20px;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .button-wrapper {
    display: block;
    padding: 1.5em 0;

    a {
        border: solid 2px #29fd2e ;
        background-color: #29fd2e;
        padding: 1em 4.4em;
        font-family: 'Helvetica-95-Black';
        font-weight: 500;
        font-size: 1em;
        color: black;
        text-decoration: none;
    }

    a:hover {
        border: solid 2px white;
        background-color: white;
        transition: 0.1s ease-in-out ;
    }
}
