@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@font-face {
    font-family: "DINPro";
    src: url("../../IsabellaBiletta/fonts/DINPro.woff2") format("woff2"),
         url("../../IsabellaBiletta/fonts/DINPro.otf") format('opentype'),
         local('DINPro');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DINPro-Light";
    src: url("../../IsabellaBiletta/fonts/DINPro-Light.woff2") format("woff2"),
         url("../../IsabellaBiletta/fonts/DINPro-Light.otf") format('opentype'),
         local('DINPro-Light');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DINPro-Medium";
    src: url("../../IsabellaBiletta/fonts/DINPro-Medium.woff2") format("woff2"),
         url("../../IsabellaBiletta/fonts/DINPro-Medium.otf") format('opentype'),
         local('DINPro-Medium');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DINPro-Bold";
    src: url("../../IsabellaBiletta/fonts/DINPro-Bold.woff2") format("woff2"),
         url("../../IsabellaBiletta/fonts/DINPro-Bold.otf") format('opentype'),
         local('DINPro-Bold');
    font-weight: normal;
    font-style: normal;
}





body {
    margin: 0 auto;
    background-color: #1e4d25;
    scroll-behavior: smooth;
    }

    h1 {
        color: white;
        font-family: "DINPro-Bold";
        font-size: 50px;
    }

    p {
        color: white;
        font-family: "DINPro-Light";
        font-size: 18px;
    }

    .bi {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.5em;
        color: white;
    }

    .bi:hover {
        color: #29fd2e;
    }

    .wrapper {
        padding: 10% 15%;
    }

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand.fw-bold {
    color: white;
    }

  .navbar-brand.fw-bold:hover {
    color: #29fd2e;
    }

  .nav-link {
    color: white;
    font-family: 'DINPro';
  }

  .nav-link:hover {
    color: #29fd2e;
  }

  .nav-item {
    padding: 0px 20px;
  }

  .navbar-toggler {
    border: none;
    outline: 0;
  }

  .navbar-toggler:focus {
    border: none;
    outline: 0;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .button-wrapper {
    display: block;
    padding: 1.5em 0;

    a {
        border: solid 2px #29fd2e ;
        background-color: #29fd2e;
        padding: 1em 4.4em;
        font-family: 'DINPro-Bold';
        font-size: 1em;
        color: #1e4d25;
        text-decoration: none;
    }

    a:hover {
        border: solid 2px white;
        background-color: white;
        transition: 0.1s ease-in-out ;
    }
    }

    .button-wrapper-alt {
        display: block;
        padding: 1.5em 0;
    
        a {
            border: solid 2px white ;
            background-color: transparent;
            padding: 1em 4.4em;
            font-family: 'DINPro-Bold';
            font-size: 1em;
            color: white;
            text-decoration: none;
        }
    
        a:hover {
            border: solid 2px #29fd2e;
            background-color: #29fd2e;
            color: #1e4d25;
            transition: 0.1s ease-in-out ;
        }
        }

        .contact-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5%;
            padding-bottom: 2em;


            ul {
                float: right;
                list-style: none;
                text-align: right;
            
                li a {
                    text-decoration: none;
                    color: black;
                    font-size: 1.3em;
                    padding: 0 1.5em;
                    font-family: 'DINPro-Medium'
                }
            }
        }

    .form-block {
        display: flex;
        flex-direction: column;
        padding: 0 5% 0 5%;

        label {
            font-family: "DINPro-Bold";
            color: #1e4d25;
        }
        
        input[type=text], input[type=email], input[type=tel] {
            border: none;
            border-bottom: solid 3.5px #1e4d25;
            padding: 0 1em 0.5em 1em;
            margin: 1em 0 2em 0;
            width: 100%;

            font-family: 'DINPro-Light';
        }

        textarea {
            border: none;
            border-bottom: solid 3.5px #1e4d25;
            margin: 1em 0 2em 0;
            padding: 0em 1em 5em 1em;
            width: 100%;
            resize: vertical;
            font-family: 'DINPro-Light';
            
        }

        input:focus, textarea:focus {
        border-bottom: solid 3.5px #29fd2e;
        }

        input[type=submit] {   
            display: block;
            margin: auto;

            font-family: 'DINPro-Bold';
                
            border: solid 3px #1e4d25 ;
            background-color: white;
            padding: 1em 4.4em;
            color: #1e4d25;
            text-decoration: none;
            cursor: pointer;
        }

        input[type=submit]:hover {
            border: solid 3px #29fd2e;
            background-color: #29fd2e;
            transition: 0.3s ease-in-out ;
        }  
    }
